*,
*::after,
*::before {
    box-sizing: border-box;
}

@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: 479px) {
            @content;
        }
    } @else if $media == wide-handhelds {
        @media only screen and (min-width: 480px) and (max-width: 767px) {
            @content;
        }
    } @else if $media == tablets {
        @media only screen and (min-width: 768px) and (max-width: 959px) {
            @content;
        }
    } @else if $media == PC {
        @media only screen and (min-width: 960px) and (max-width: 1439px) {
            @content;
        }
    }
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.container {
    max-width: 1138px;
    margin: 0 auto;

    @include respond-to(handhelds) {
        padding: 0 10px;
        max-width: 100%;
        text-align: center;
    }

    @include respond-to(wide-handhelds) {
        padding: 0 10px;
        max-width: 100%;
    }

    @include respond-to(tablets) {
        padding: 0 10px;
        max-width: 100%;
    }

    @include respond-to(PC) {
        max-width: 100%;
        padding: 0 30px;
    }
}

.header {
    background-color: #eff0f2;
    &__top {
        padding: 64px 0;
    }
    @include respond-to(handhelds) {
        &__top {
            text-align: center;
        }
    }

    @include respond-to(wide-handhelds) {
        &__top {
            text-align: center;
        }
    }

    @include respond-to(tablets) {
        &__top {
            text-align: center;
        }
    }
    @include respond-to(PC) {
        &__top {
            padding: 64px 20px;
        }
    }
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #323333;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 12px;
    @include respond-to(handhelds) {
        font-size: 30px;
    }

    @include respond-to(wide-handhelds) {
        font-size: 30px;
    }
}
.title-text {
    font-family: "Merriweather", serif;
    font-size: 18px;
    color: #848585;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    text-align: center;
    margin-bottom: 145px;
    @include respond-to(handhelds) {
        margin-bottom: 50px;
    }

    @include respond-to(wide-handhelds) {
        margin-bottom: 70px;
    }

    @include respond-to(tablets) {
        margin-bottom: 90px;
    }
}

.welcome {
    font-family: "Montserrat", sans-serif;
    background-color: #eff0f2;
    color: #505050;
    text-transform: uppercase;
    text-align: center;
    &__content {
        padding: 132px 0 115px;
        &-mark {
            display: inline-block;
            background-color: #b2f2ee;
            padding: 3px 0;
        }
    }
    &__title {
        font-size: 45px;
        font-weight: 700;
        letter-spacing: 2.8px;
        text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
        margin-bottom: 5px;
        @include respond-to(handhelds) {
            font-size: 32px;
        }

        @include respond-to(wide-handhelds) {
            font-size: 32px;
        }
    }
    &__text {
        @include respond-to(handhelds) {
            font-size: 25px;
        }

        @include respond-to(wide-handhelds) {
            font-size: 25px;
        }
        margin-bottom: 140px;
        font-size: 45px;
        letter-spacing: 2px;
        text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
    }
    
    
    &__glass {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        top: -30px;
        right: 90px;
        margin-left: 900px;
    }
    &__imglass {
        height: 95px;
        
    }

    @include respond-to(handhelds) {
        &__content {
            padding: 0 0 100px;
        }
        
        &__glass {
            display: block;
            margin-left: 0;
            position: relative;
            top: 30px;
            right: 0px;
            justify-content: center;
        }
        &__text {
            padding-top: 15px;
            margin-bottom: 80px;
        }
    }

    @include respond-to(wide-handhelds) {
        &__content {
            padding: 0 0 100px;
        }
        &__glass {
            display: block;
            margin-left: 0;
            position: relative;
            top: 30px;
            right: 0px;
            justify-content: center;
        }
        &__text {
            padding-top: 15px;
            margin-bottom: 80px;
        }
    }

    @include respond-to(tablets) {
        &__content {
            padding: 0 0 100px;
        }
        &__glass {
            display: block;
            margin-left: 0;
            position: relative;
            top: 30px;
            right: 0px;
            justify-content: center;
        }

        &__text {
            padding-top: 15px;
            margin-bottom: 80px;
        }
    }

    @include respond-to(PC) {
        &__glass {
            display: flex;
            flex-direction: row-reverse;
            position: relative;
            top: -30px;
            right: 90px;
        }
    }
    &__button {
        border-radius: 2px;
        border: 2px solid #777879;
        padding: 15px 45px;
        font-size: 18px;
        letter-spacing: 1.5px;
        color: #606061;
        cursor: pointer;
        &:hover {
            background-color: lightblue;
        }
    }
}

.about {
    padding: 123px 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f8fafa;
    color: #505050;
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__img-wrapper {
        padding-left: 45px;
        justify-self: center;
        align-self: center;
    }
    &__img {
        box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13);
    }
    &__content {
        justify-self: left;
        padding-left: 90px;
    }
    &__title {
        padding-top: 4px;
        font-family: "Merriweather", serif;
        font-size: 20px;
        color: #646565;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        text-align: left;
        margin-bottom: 23px;
    }
    &__text {
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        color: #636464;
        letter-spacing: 0.8px;
        text-align: left;
        margin-bottom: 25px;
        line-height: 28px;
    }
    @include respond-to(handhelds) {
        padding: 100px 0;
        &__inner {
            grid-template-columns: repeat(1, 100%);
        }
        &__img-wrapper {
            padding-left: 0;
        }
        &__img {
            width: 100%;
            margin-bottom: 20px;
        }
        &__content {
            max-width: 100%;
            padding-left: 0px;
        }
        &__title {
            text-align: center;
        }
        &__text {
            text-align: center;
        }
    }

    @include respond-to(wide-handhelds) {
        padding-top: 100px;
        &__inner {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
        &__img-wrapper {
            padding-left: 0;
        }
        &__img {
            width: 100%;
            margin-bottom: 20px;
        }
        &__content {
            max-width: 100%;
            padding-left: 0px;
        }
        &__title {
            text-align: center;
        }
        &__text {
            text-align: center;
        }
    }

    @include respond-to(tablets) {
        padding: 100px 0;
        &__inner {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
        &__img-wrapper {
            padding-left: 0;
        }
        &__content {
            padding-left: 0px;
            justify-self: center;
            align-self: center;
        }
        &__title {
            text-align: center;
        }
        &__text {
            text-align: center;
        }
    }

    @include respond-to(PC) {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

        }

        &__content {
            margin: 10px 10px;
            width: 95%;
            padding-left: 0px;
        }
        &__title {
            text-align: center;
        }
    }
}

.featured {
    padding: 125px 0;
    &__inner {
        margin-top: -25px;
    }
    &__list {
        cursor: pointer;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 13px;
    }
    @include respond-to(handhelds) {
        &__img {
            max-width: 100%;
        }
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }
        &__inner {
            text-align: center;
        }
    }

    @include respond-to(wide-handhelds) {
        &__img {
            max-width: 100%;
        }
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }
        &__inner {
            text-align: center;
        }
    }

    @include respond-to(tablets) {
        &__list {
            margin: auto;
            grid-template-columns: repeat(2, 370px);
            gap: 20px;
        }
        &__inner {
            display: flex;
        }
    }

    @include respond-to(PC) {
        &__list {
            margin: auto;
            grid-template-columns: repeat(2, 370px);
            gap: 20px;
        }
        &__inner {
            display: flex;
        }
    }
}

.team {
    padding-top: 80px;
    padding-bottom: 150px;
    background-color: #f9fbfb;
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 13px;
    }

    &__item{
        position: relative;
    }

    &__item:hover {
        cursor: pointer;
        
        .team__description {
            opacity: 1;
        }
    }
    &__description {
        opacity: 0;
        position: absolute;
        padding: 40px 38px;
        bottom: 20px;
        left: 20px;
        right: 20px;
        max-height: 230px;
        background-color: #70f6eb;
        transition: opacity 0.5s ease-in-out;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        &::after {
            content: "";
            position: absolute;
            right: 270px;
            top: -30px;
            border: 10px solid transparent;
            border-bottom: 20px solid #70f6eb;
        }
    }
    
    

    &__items {
        font-size: 13px;
        display: inline;
        margin-right: 10px;
    }

    &__items {
        a {
            padding-right: 10px;
            cursor: pointer;
        }
    }
    &__name {
        text-align: left;
        font-family: "Merriweather", serif;
        font-size: 20px;
        color: #2c3a39;
        text-transform: uppercase;
        font-style: bold;
        margin-bottom: 15px;
        letter-spacing: 1px;
    }
    &__job {
        text-align: center;
        font-family: "Merriweather", serif;
        font-style: italic;
        font-size: 16px;
        color: #767878;
        text-transform: none;
    }
    &__text {
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        color: #16312f;
        letter-spacing: 0.5px;
        text-align: left;
        margin-bottom: 36px;
        line-height: 23px;
        overflow: auto;
        max-height: 80px;
    }

    &__social a:hover{
        color: lightcoral;
    }

    @include respond-to(handhelds) {
        &__description {
            &::after {
                content: "";
                position: absolute;
                right: 210px;
                top: -30px;
                border: 10px solid transparent;
                border-bottom: 20px solid #70f6eb;
            }
        }
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }
        &__img {
            max-width: 100%;
        }
        &__item {
            justify-self: center;
            align-self: center;
        }
    }

    @include respond-to(wide-handhelds) {
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }
        &__item {
            justify-self: center;
            align-self: center;
        }
        &__img {
            max-width: 100%;
        }
    }

    @include respond-to(tablets) {
        &__list {
            margin: auto;
            grid-template-columns: repeat(2, 370px);
            gap: 20px;
        }
        &__wrapper {
            display: flex;
        }
    }

    @include respond-to(PC) {
        &__list {
            margin: auto;
            grid-template-columns: repeat(2, 370px);
            gap: 20px;
        }
        &__wrapper {
            display: flex;
        }
    }
}

.contact {
    textarea {
        resize: none;
    }
    background: url(https://db3pap005files.storage.live.com/y4mArIRtnrPlTRPGo3Ny-QAijZyRMwSwwQLWATjTn6Knb1ZWlOx6etnw_BJHZw9XiiMGmCYtbUMWhcmHreEZsQqEqb9YQ1kwjMDL54mfM689HY6Y2Uc6L-DcVvqMzV-c6jXbfIIAiErGz0FBDFhAAMWe2eOReiiM7_zxKASao6VsAr4T7Afz6r6QKIvLm8JloUZCtaOGtL-8sBOqSvcxyHIhw/OK.png?psid=1&width=1440&height=740)
        no-repeat;
    background-size: 100%;
    background-position: bottom center;
    padding: 120px 0;
    &__input {
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        color: #c8cdd0;
        border: none;
        margin: 10px;
        background-color: #495862;
        border-bottom: 1px solid #c8cdd0;
        padding: 10px 0;
        width: 95%;
    }
    &__inner {
        display: grid;
        grid-gap: 2%;
        grid-template-columns: 54% 44%;
    }
    &__form {
        background-color: #495862;
        opacity: 0.95;
        height: 460px;
        padding: 30px;
        ::placeholder {
            color: #c8cdd0;
            font-family: "Raleway", sans-serif;
            font-size: 15px;
        }
    }

    &__inf {
        background-color: #495862;
        opacity: 0.95;
        height: 460px;
        position: relative;
    }

    &__info {
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        color: #c8cdd0;
        letter-spacing: 0px;
        text-align: left;
        line-height: 24px;
        &-padding {
            padding-top: 23px;
        }
        & a:hover {
            text-decoration: underline;
        }
    }

    &__description {
        padding: 30px;
    }

    &__button {
        background-color: #6eeee4;
        border: none;
        border-radius: 2px;
        color: #214744;
        padding: 16px 32px;
        cursor: pointer;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 4px;
        font-size: 16px;
        margin-top: 30px;

        transition: background-color 1s;
        -webkit-transition: background-color 1s;
        -moz-transition: background-color 1s;
        -ms-transition: background-color 1s;
        -o-transition: background-color 1s;
        &:hover {
            background-color: #3fdd81;
        }
    }

    &__map {
        margin-top: 15px;
    }

    .ya_map {
        font-family: arial;
        font-size: 12px;
        color: #454545;
    }

    #map {
        width: 100%;
        height: 223px;
    }
    @include respond-to(handhelds) {
        &__form {
            width: 100%;
        }
        &__inner {
            grid-template-columns: 1fr;
        }
        &__button {
            margin: auto;
        }
    }

    @include respond-to(wide-handhelds) {
        &__inner {
            grid-template-columns: 1fr;
            padding-top: 0;
            width: 100%;
        }
    }

    @include respond-to(tablets) {
        
        #map {
            width: 100%;
            height: 223px;
        }
    }

    @include respond-to(PC) {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
            padding-top: 0;
        }
        #map {
            width: 100%;
            height: 223px;
        }
    }
}

.footer {
    padding: 85px 0;
    background-color: #262b2e;
    &__text {
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        color: #636464;
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 15px;
        line-height: 28px;
        text-transform: uppercase;
    }
    &__list {
        display: flex;
        font-size: 20px;
        justify-content: center;
    }

    &__btn {
        padding: 10px 12px;
        color: #bbb8b9;
        background-color: #424648;
        margin: 0 5px;
        &--facebook a {
            padding: 10px 15.5px;
        }
        &:hover {
            background-color: #6eeee4;
            color: #262b2e;
        }
    }
}

.lb-image {
    min-width: 600px;
    min-height: 600px;
    @include respond-to(handhelds) {
        min-width: 320px;
        min-height: 320px;
    }

    @include respond-to(wide-handhelds) {
        min-width: 480px;
        min-height: 480px;
    }
}
