*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

a:hover {
    text-shadow: 0px 5px 20px rgba(123, 41, 199, 0.8);
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 10px;
}

.header {
    font-family: "Montserrat", sans-serif;
    background-color: #eff0f2;
    min-height: 800px;
    color: #505050;
    text-transform: uppercase;
}

.header__top {
    padding: 64px 0 0 0;
}

.header__content {
    padding: 0;
    position: relative;
}

.header__title {
    padding-top: 195px;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2.8px;
    align-content: center;
    text-align: center;
    text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
}

.header__content-mark {
    background-color: #b2f2ee;
}

.header__text {
    padding-top: 15px;
    margin-bottom: 145px;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
}

.header__button {
    border-radius: 2px;
    border: 2px solid #777879;
    padding: 15px 15px;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #606061;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    width: 232px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.header__img {
    position: absolute;
    right: 98px;
    bottom: -62px;
    height: 95px;
}

.aboutUs {
    padding-top: 128px;
    font-family: "Montserrat", sans-serif;
    background-color: #f8fafa;
    min-height: 985px;
    color: #505050;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #323333;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 12px;
}

.title-text {
    font-family: "Merriweather", serif;
    font-size: 18px;
    color: #848585;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    text-align: center;
    margin-bottom: 145px;
}

.aboutUs__inner {
    display: flex;
    justify-content: center;
}

.aboutUs__img {
    margin-right: 155px;
    padding-left: 50px;
}

.aboutUs__content {
    width: 490px;
}

.aboutUs__img-img {
    box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13);
}

.aboutUs__content-title {
    padding-top: 4px;
    font-family: "Merriweather", serif;
    font-size: 20px;
    color: #646565;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-align: left;
    margin-bottom: 23px;
}

.aboutUs__content-text {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #636464;
    letter-spacing: 0.8px;
    text-align: left;
    margin-bottom: 25px;
    line-height: 28px;
}

.aboutUs__content-titlenext {
    font-family: "Merriweather", serif;
    font-size: 17px;
    color: #646565;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    text-align: left;
    margin-bottom: 20px;
    padding-top: 10px;
}

.featuredWorks {
    padding-top: 128px;
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    min-height: 1165px;
    color: #505050;
}

.title-text-little {
    font-family: "Merriweather", serif;
    font-size: 17px;
    color: #848585;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 120px;
}

.featuredWorks__img {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 13px;
}

.smallTeam {
    padding: 100px;
    background-color: #f9fbfb;
    min-width: 1220px;
}

.smallTeam__img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 13px;
}
.smallTeam__description {
    opacity: 0;
    position: absolute;
    padding: 40px 38px 40px 38px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    margin: 0 10px 10px 10px;
    background-color: #70f6eb;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

.smallTeam__img-li:hover .smallTeam__description {
    opacity: 1;
}

.smallTeam__img-li {
    position: relative;
}

span a {
    padding-right: 10px;
    cursor: pointer;
}

.smallTeam_icon {
    font-size: 13px;
    display: inline;
    margin-right: 10px;
}

li {
    list-style: none;
}

.smallTeam__description-text {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #16312f;
    letter-spacing: 0.5px;
    text-align: left;
    margin-bottom: 36px;
    line-height: 23px;
}

.smallTeam__description-text-name {
    text-align: left;
    font-family: "Merriweather", serif;
    font-size: 20px;
    color: #2c3a39;
    text-transform: uppercase;
    font-style: bold;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.smallTeam__description-text-post {
    text-align: center;
    font-family: "Merriweather", serif;
    font-style: italic;
    font-size: 16px;
    color: #767878;
    text-transform: none;
}

.contactInformation {
    background: url(https://db3pap005files.storage.live.com/y4mbf1Hwtp5aYlQmnN7kP62_AN_ABJaUYNLvtlW04n429TSupBSatIYogo-nlj6aCr4Rlp4anS0hjQAHfgBvXdGqn-5ArfXJTiHjeUhw4PP5C0OjBLjeZfK1shOujP7_u4T7LnA_A5RCC1WgToW0l9BhujD6Z40bxR0WrZGonCG6qCW7h14ej3KpGA8bwHb9a61mPMQqVr7q6Lf5uKyvbcZsw/OK.png?psid=1&width=1440&height=740)
        no-repeat;
    background-position: bottom center;
    background-color: #f9fbfb;
}

.contactInformation {
    .container {
        max-width: 1138px;
    }
}

.contactInformation__inner {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 54% 46%;
    padding-top: 200px;
    min-height: 785px;
}

.contactInformation__form {
    background-color: #495862;
    opacity: 0.95;
    height: 460px;
}
.contactInformation__form-ul {
    padding: 27px 20px;
    border: none;
}

.contactInformation__form-li {
    border: none;
}

input,
textarea {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: #c8cdd0;
    border: none;
    margin: 10px;
    background-color: #495862;
    border-bottom: 1px solid #c8cdd0;
    padding: 10px 0;
    width: 95%;
}

.contactInformation__form-li-text {
    margin-bottom: 30px;
}

::placeholder {
    color: #c8cdd0;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}

.contactInformation__form-button {
    background-color: #6eeee4;
    border: none;
    color: #214744;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 4px;

    font-size: 16px;
}
.contactInformation__inf {
    background-color: #495862;
    opacity: 0.95;
    height: 460px;
}

.contactInformation__inf-box {
    padding-left: 30px;
    padding-top: 32px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: #c8cdd0;
    letter-spacing: 0px;
    text-align: left;
    line-height: 24px;
}

.contactInformation__inf-map {
    padding-left: 20px;
}
.ya_map {
    font-family: arial;
    font-size: 12px;
    color: #454545;
}

#map {
    width: 455px;
    height: 223px;
}

.footer {
    background-color: #262b2e;
    min-height: 280px;
}

.footer__text {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #636464;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 85px;
    margin-bottom: 10px;
    line-height: 28px;
    text-transform: uppercase;
}

.footer__icons {
    display: flex;
    font-size: 20px;
    justify-content: center;
}
.footer__btn {
    display: inline-block;
}
.footer__btn a {
    padding: 10px;
    color: #bbb8b9;
    background-color: #424648;
    margin: 0 2px;
}

.footer__btn--facebook a {
    padding: 10px 13.75px;
}

.footer__btn:hover .footer__btn {
    background-color: #6eeee4;
    color: #262b2e;
}
