*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

a:hover {
  text-shadow: 0px 5px 20px rgba(123, 41, 199, 0.8);
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 10px;
}

.header {
  font-family: "Montserrat", sans-serif;
  background-color: #eff0f2;
  min-height: 800px;
  color: #505050;
  text-transform: uppercase;
}

.header__top {
  padding: 64px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header__content {
  padding: 0;
  position: relative;
}

.header__title {
  padding-top: 195px;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 2.8px;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
}

.header__content-mark {
  background-color: #b2f2ee;
}

.header__text {
  padding-top: 15px;
  margin-bottom: 145px;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
}

.header__button {
  border-radius: 2px;
  border: 2px solid #777879;
  padding: 15px 15px;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: #606061;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto auto;
  width: 232px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.header__img {
  position: absolute;
  right: 90px;
  bottom: -60px;
  height: 94px;
}

.aboutUs {
  padding-top: 128px;
  font-family: "Montserrat", sans-serif;
  background-color: #f8fafa;
  min-height: 985px;
  color: #505050;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: #323333;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 12px;
}

.title-text {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: #848585;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  text-align: center;
  margin-bottom: 145px;
}

.aboutUs__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutUs__img {
  margin-right: 155px;
  padding-left: 60px;
}

.aboutUs__content {
  width: 490px;
}

.aboutUs__img-img {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13);
          box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13);
}

.aboutUs__content-title {
  padding-top: 4px;
  font-family: "Merriweather", serif;
  font-size: 20px;
  color: #646565;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-align: left;
  margin-bottom: 23px;
}

.aboutUs__content-text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #636464;
  letter-spacing: .8px;
  text-align: left;
  margin-bottom: 25px;
  line-height: 28px;
}

.aboutUs__content-titlenext {
  font-family: "Merriweather", serif;
  font-size: 17px;
  color: #646565;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  text-align: left;
  margin-bottom: 20px;
  padding-top: 10px;
}

.featuredWorks {
  padding-top: 128px;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  min-height: 1165px;
  color: #505050;
}

.title-text-little {
  font-family: "Merriweather", serif;
  font-size: 17px;
  color: #848585;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 120px;
}

.featuredWorks__img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 13px;
}
/*# sourceMappingURL=style.css.map */