*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

a:hover {
  text-shadow: 10px 5px 20px rgba(65, 41, 199, 0.8);
  color: #000;
}

.container {
  max-width: 1138px;
  margin: 0 auto;
}

.header {
  background-color: #eff0f2;
}

.header__top {
  padding: 64px 0;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: #323333;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 12px;
}

.title-text {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: #848585;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  text-align: center;
  margin-bottom: 145px;
}

.welcome {
  font-family: "Montserrat", sans-serif;
  background-color: #eff0f2;
  color: #505050;
  text-transform: uppercase;
  text-align: center;
}

.welcome__content {
  padding: 132px 0 115px;
}

.welcome__content-mark {
  background-color: #b2f2ee;
}

.welcome__title {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
}

.welcome__text {
  padding-top: 15px;
  margin-bottom: 160px;
  font-size: 45px;
  letter-spacing: 2px;
  text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
}

.welcome__button {
  border-radius: 2px;
  border: 2px solid #777879;
  padding: 13px 45px;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: #606061;
  cursor: pointer;
}

.welcome__glass {
  position: relative;
  top: -15px;
  right: -440px;
  height: 95px;
}

.about {
  padding-top: 123px;
  font-family: "Montserrat", sans-serif;
  background-color: #f8fafa;
  min-height: 985px;
  color: #505050;
}

.about__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding-bottom: 123px;
}

.about__img-wrapper {
  padding-left: 45px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__img {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13);
          box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13);
}

.about__content {
  -ms-grid-column-align: left;
      justify-self: left;
  width: 570px;
  padding-left: 90px;
}

.about__title {
  padding-top: 4px;
  font-family: "Merriweather", serif;
  font-size: 20px;
  color: #646565;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-align: left;
  margin-bottom: 23px;
}

.about__text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #636464;
  letter-spacing: 0.8px;
  text-align: left;
  margin-bottom: 25px;
  line-height: 28px;
}

.featured {
  padding-top: 125px;
}

.featured__inner {
  margin-top: -25px;
}

.featured__list {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 13px;
  padding-bottom: 125px;
}

.team {
  padding-top: 80px;
  background-color: #f9fbfb;
}

.team__list {
  margin-top: -25px;
  padding-bottom: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 13px;
}

.team__description {
  opacity: 0;
  position: absolute;
  padding: 40px 38px 40px 38px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  margin: 0 10px 10px 10px;
  background-color: #70f6eb;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

.team__item:hover .team__description {
  opacity: 1;
}

.team__item {
  position: relative;
}

.team__items {
  font-size: 13px;
  display: inline;
  margin-right: 10px;
}

.team__items a {
  padding-right: 10px;
  cursor: pointer;
}

.team__name {
  text-align: left;
  font-family: "Merriweather", serif;
  font-size: 20px;
  color: #2c3a39;
  text-transform: uppercase;
  font-style: bold;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.team__job {
  text-align: center;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 16px;
  color: #767878;
  text-transform: none;
}

.team__text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #16312f;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 36px;
  line-height: 23px;
}

.contact {
  background: url(https://db3pap005files.storage.live.com/y4mbf1Hwtp5aYlQmnN7kP62_AN_ABJaUYNLvtlW04n429TSupBSatIYogo-nlj6aCr4Rlp4anS0hjQAHfgBvXdGqn-5ArfXJTiHjeUhw4PP5C0OjBLjeZfK1shOujP7_u4T7LnA_A5RCC1WgToW0l9BhujD6Z40bxR0WrZGonCG6qCW7h14ej3KpGA8bwHb9a61mPMQqVr7q6Lf5uKyvbcZsw/OK.png?psid=1&width=1440&height=740) no-repeat;
  background-position: bottom center;
  background-color: #f9fbfb;
}

.contact__input {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #c8cdd0;
  border: none;
  margin: 10px;
  background-color: #495862;
  border-bottom: 1px solid #c8cdd0;
  padding: 10px 0;
  width: 95%;
}

.contact__inner {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 54% 46%;
      grid-template-columns: 54% 46%;
  padding-top: 150px;
  padding-bottom: 130px;
}

.contact__form {
  background-color: #495862;
  opacity: 0.95;
  height: 460px;
}

.contact__list {
  padding: 27px 20px;
}

.contact__form ::-webkit-input-placeholder {
  color: #c8cdd0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.contact__form :-ms-input-placeholder {
  color: #c8cdd0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.contact__form ::-ms-input-placeholder {
  color: #c8cdd0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.contact__form ::placeholder {
  color: #c8cdd0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.contact__inf {
  background-color: #495862;
  opacity: 0.95;
  height: 460px;
  position: relative;
}

.contact__info {
  padding-left: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #c8cdd0;
  letter-spacing: 0px;
  text-align: left;
  line-height: 24px;
}

.contact__info-padding {
  padding-top: 23px;
}

.contact__description {
  padding-top: 32px;
}

.contact__button {
  background-color: #6eeee4;
  border: none;
  color: #214744;
  padding: 16px 32px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  font-size: 16px;
}

.contact__map {
  padding-left: 20px;
}

.contact .ya_map {
  font-family: arial;
  font-size: 12px;
  color: #454545;
}

.contact #map {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 465px;
  height: 223px;
}

.footer {
  background-color: #262b2e;
  min-height: 280px;
}

.footer__text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #636464;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 85px;
  margin-bottom: 15px;
  line-height: 28px;
  text-transform: uppercase;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__btn {
  padding: 10px 12px;
  color: #bbb8b9;
  background-color: #424648;
  margin: 0 5px;
}

.footer__btn--facebook a {
  padding: 10px 15.5px;
}

.footer__btn:hover {
  background-color: #6eeee4;
  color: #262b2e;
}

.lb-image {
  min-width: 600px;
  min-height: 600px;
}
/*# sourceMappingURL=style.css.map */